body {
    background-color: #097969
}

body{
    color: white;
}

.header {
    background-color: #AFE1AF;
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

#logo {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    top: 0;
    left: 0;
    padding: 5px;
}

#smb {
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    top: 0;
    right: 0;
    padding: 5px;
}

.results-btn {
    border-radius: 12px;
    background-color: #AFE1AF;
    color: black;
    padding: 20px 60px 20px 60px;
    font-size: 20px;
    border: none;
    font-family: "Coming Soon";
}

.results-btn:hover {
    transform: scale(1.2);
}

.questions {
    text-align: center;
    font-family: Unna;
}