body {
    font-family: "Arial";
    background-color: #097969
}

.header {
    background-color: #AFE1AF;
    padding: 100px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.logo {
    float: left;  
}
